*{
	padding: 0px;
	margin:0px;
}

/* html{
	overflow-x:hidden;
} */
.err{
	color: red;
	padding-left: 10px;
}

a.help:hover{
	text-decoration: none;
}

.navbar{
	margin-bottom: 0px;
	/*position: fixed;*/
}

.content{
	margin-top: 20px;
}
.content a{
	color:#000;
}

.content a:hover{
	text-decoration: none;
	color: aqua;
}

/*#sale,#shopping,#history_s{
	width: 50%;
	min-height:100px;
}*/



.nav-tabs {
	/*border-bottom: 1px solid #130a0a;*/
	background: #2E3F50;
}
.nav-tabs a{
	color:#fff;
}

.nav-tabs a:hover{
	color:violet;
}

.active a{
	background: red;
	color: red;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

#contact{
	display: flex;
	justify-content: space-around;
	border-top: 0.5px solid grey;
	margin-bottom: 25px;
	margin-top: 25px;
}

#contact-map{
	/*width: 45%;*/
	padding-top: 20px;
}

#fb{
	
	padding-top: 48px;
	padding-bottom: 20px;
}

@media screen and (max-width: 678px) {
	#fb{
	display: none
	}
}
